<link rel = "StyleSheet" href = "style.css"/>

<h1 class = "heading">All Notifications</h1>



<div class = "allFlights" th:each="notification : ${notifications}" th:object = "${notification}">
	<div class = "oneFlight">
		<h2 th:text = "*{message}"></h2>
		<h2>-------></h2>
		<h2 th:text = "*{createdAt}"></h2>
		<button><a th:href = "*{'deleteNotification?id=' + id}">Don't Press</a></button>
	</div>
</div>

<div class = "buttonsDiv">
<button><a href = "home">Book More Tickets</a></button>
<button><a href = "passengerProfile">Go Back</a></button>
</div>